# Entorno virtual
.venv/
venv/
remote_settings.py

# Archivos de dependencias
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de log y salida
*.log
*.out
*.prof

# Archivos de configuración local
*.env
*.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación
build/
dist/
*.egg-info/
versions/*
!versions/.gitkeep
nsis_temp_files*
ptracker.nsh
*.spec
ptracker-server-dist.py

# Build artifacts de stracker
stracker/null
stracker/stracker-default.ini
stracker/*.tgz

# Archivos de Windows
*.exe
*.dll
*.bat
*.cmd

# Otros
*.sublime*
*.vscode/
